/* Header Styling */
/* Header Styling */
header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start; /* Align items to the left */
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header a {
  font-size: large;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

header .company-banner {
  font-size: xx-large;
  font-weight: bold;
  margin-right: 20px;
}

  